#status {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: cursive;
}

.jumbotron {
    background: white;
    color:black;
    margin: auto; 
}

#action{
    padding-bottom: 0px;
    padding-top: 0px;
}

#col1{
    background: red;
}
#col2{
    background: yellow;
}
#gamecol{
    text-align: center;
}
.border{
    border: black;
}
