<html>

<head>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/game.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="gamelogic.js"></script>
	<title>Simple Game</title>
</head>

<body>
	<div class="jumbotron text-center">
		<div class="container">
			<h1 class="display-4">Simple Game</h1>
			<p>
				<h2 class="lead">Situation</h2>
				<hr class="my-4">
				<div class="lead">Instructions - use these commands to play:
					<br>SEARCH, KILL
					<br>And QUIT to finish the game.
				</div>
				<div class="jumbotron text-center" id="status">...</div>
			</p>
			<hr />
		</div>
		<div id="action" class="container">
			<div class="jumbotron text-center">
				<b>What do you want to do? (search/kill/quit)</b>
				<br />
				<input class="form-control form-control-lg text-center" type="text" placeholder="Write commands here" id="userInput"></input>
				<button class="btn btn-primary btn-lg btn-block" type="button" id="enterBtn">ENTER</button>
			</div>
		</div>
	</div>

</body>

</html>