<!doctype html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/game.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/public/js/gamelogic.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Simple Game</title>
</head>

<body>
	<div class="jumbotron text-center">
		<h1 class="display-4">Adventure time</h1>
		<h2 class="lead">MUD Game</h2>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4" id="gamecol">
				<span class="border">
					<h3>Instructions - use these commands to play:</h3>
					<p>SEARCH, KILL</p>

					<p>And QUIT to finish the game.</p>
				</span>

				<div id="status">...</div>

				<div id="action">

					<b>What do you want to do? (search/kill/quit)</b>
					<br />
					<input class="form-control form-control-sm text-center" type="text"
						placeholder="Write commands here" id="userInput"></input>
					<button class="btn btn-primary btn-sm btn-block" type="button" id="enterBtn">ENTER</button>

				</div>
			</div>
			<div class="col-sm-3" id="col2">
				<br><a type="button" href="/logout" id="logout">Logout</a>

				<br><div class="login-form">
					<form id="getREQ" >
						<input id="localSBtn" type="button" value="get" class="btn btn-info btn-md">
					</form>
					<form>
						<input id="localBtn" type="button" value="post" class="btn btn-info btn-md">
					</form>
				</div>
				<h3>Column 1</h3>
				<p>Lorem ipsum dolor..</p>
			</div>
		</div>


</body>

</html>